$main-font: 'Open Sans', Arial, sans-serif;

$link-color: #60A595;
$text-color: #EAE5FC;
$accent-color: #FBA100;
$hover-color: #CCCCCC;

$dark-color: #150C34;
$medium-color: #382E5B;
$light-color: #6C648B;

$price-color: #707070;